#table {
    width: 80%;
    margin: 0% 10%;
    text-align: center;
}

thead tr {
    height: 3vw;
    background-color: indianred;
    border-top-right-radius: 10px;
}

tbody tr {
    height: 2.8vw;
    background-color: rgb(226, 221, 221);
}

th {
    width: 1%;
    padding: 2% 1%;
    font-weight: 600;
}

td {
    width: 1%;
    padding: 1%;
}

tbody p {
    margin: 5%;
}

.navbar-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width:1300px) {
    #no {
        display: none;
    }
}

@media screen and (max-width:1200px) {
    #no1 {
        display: none;
    }
    .nav-item {
        width: 45%;
    }
    img {
        width: 80%;
        margin: 0px 10%;
    }
}

@media screen and (max-width:910px) {
    #no2 {
        display: none;
    }
}

@media screen and (max-width:790px) {
    #no3 {
        display: none;
    }
}

@media screen and (max-width:575px) {
    .navbar {
        padding: 0px;
    }
    .navbar-nav {
        width: 100%;
    }
    .navbar-brand {
        width: 90%;
        padding: 0px;
        margin: 0% 5% auto;
    }
    .nav-item {
        width: 90%;
        margin: 0% 5% auto;
    }
}
