body {
    width: 100%;
}

a #left {
    width: 40%;
    height: 40vw;
    background-color: rgba(104, 98, 98, 0.2);
    margin: 5% 5%;
    outline-style: none;
    border: 10px;
    padding: 0px;
    border-radius: 10px;
    font-size: 4vw;
    font-weight: bold;
    color: rgb(219, 71, 61);
    font-family: 微軟正黑體;
}

a #left p {
    margin-bottom: 30%;
}

a #left:hover {
    width: 38%;
    height: 38vw;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 6% 6%;
    outline-style: none;
    border: 10px;
    padding: 0px;
    border-radius: 10px;
    font-size: 3.5vw;
    font-weight: bold;
    color: rgb(219, 71, 61);
    font-family: 微軟正黑體;
}

a #right {
    width: 40%;
    height: 40vw;
    background-color: rgba(104, 98, 98, 0.2);
    margin: 5% 5%;
    outline-style: none;
    float: right;
    padding: 0px;
    border: 10px;
    border-radius: 10px;
    font-size: 4vw;
    font-weight: bold;
    color: rgb(219, 71, 61);
    font-family: 微軟正黑體;
}

a #right:hover {
    width: 38%;
    height: 38vw;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 6% 6%;
    outline-style: none;
    border: 10px;
    padding: 0px;
    border-radius: 10px;
    float: right;
    font-size: 3.5vw;
    font-weight: bold;
    color: rgb(219, 71, 61);
    font-family: 微軟正黑體;
}

.navbar-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width:1200px) {
    .nav-item {
        width: 45%;
    }
    img {
        width: 80%;
        margin: 0px 10%;
    }
}

@media screen and (max-width: 575px) {
    .navbar {
        padding: 0px;
    }
    .navbar-nav {
        width: 100%;
    }
    .navbar-brand {
        width: 90%;
        padding: 0px;
        margin: 0% 5% auto;
    }
    .nav-item {
        width: 90%;
        margin: 0% 5% auto;
    }
}
