body {
    width: 100%;
}

#head {
    width: 70%;
    height: 100%;
    padding: 2.5vw 0px;
    margin: 1% 15%;
    background-color: rgba(131, 127, 127, 0.2);
    border-radius: 15px;
    text-align: center;
}

#head hr {
    width: 80%;
}

#body1 {
    float: left;
    width: 33%;
}

#head h1 {
    font-size: 50px;
}

#body2 {
    width: 33%;
    margin-left: 33%;
}

#body2 h1 {
    color: green;
}

#body3 {
    width: 33%;
    float: right;
}

form input {
    width: 15%;
    display: flexbox;
    margin: 5%;
    border-radius: 6px;
    border: none;
    outline-style: none;
}

#table {
    width: 90%;
    margin: 0% 5%;
    text-align: center;
}

tbody tr td button {
    font-size: 1.1vw;
}

#table p {
    margin: 0px 8px;
    font-weight: 600;
    font-size: 1vw;
}

tbody h6 {
    color: rgb(243, 17, 17);
    padding: 0% 20%;
}

#line p {
    color: green;
}

#pay p {
    font-size: medium;
}
#pay1 p {
    font-size: medium;
}
.navbar-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width:1200px) {
    .nav-item {
        width: 45%;
    }
    img {
        width: 80%;
        margin: 0px 10%;
    }
    #text1 {
        width: 45%;
    }
    #text2 {
        width: 45%;
    }
    #no {
        display: none;
    }
    #head h1 {
        font-size: 40px;
    }
}

@media screen and (max-width:750px) {
    #no1 {
        display: none;
    }
    #head h1 {
        font-size: 30px;
    }
}

@media screen and (max-width:575px) {
    .navbar {
        padding: 0px;
    }
    .navbar-nav {
        width: 100%;
    }
    .navbar-brand {
        width: 90%;
        padding: 0px;
        margin: 0% 5% auto;
    }
    .nav-item {
        width: 90%;
        margin: 0% 5% auto;
    }
    #no2 {
        display: none;
    }
    #head h1 {
        font-size: 25px;
    }
    #title {
        font-size: 10px;
    }
    #head {
        width: 90%;
        margin: 1% 5% auto;
    }
}
